@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Prata&display=swap');

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

*{
    font-family: "Inter", sans-serif;
}